
%shared-items{
    color: rgb(255, 255, 255);
    direction: ltr;
    transform:scaleX(-1)
}

.prof-summary{
    background-image: url('../assets/macbook-pro-129208.jpg');
    height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleX(-1);
    padding-top: 10rem;
    padding-right: 2rem;
   .row{

    .col{
        text-align: left;
        b{
           color : rgb(236, 234, 234);
        }
        .contact-2{
            display: none;
        }
        .contact-1{
            display: block;
        }
        .iconCard{
                border-radius: 50%;
                border-style: solid;
                padding: 2px;
                width: 98px;
                height: 98px;
                background-image: url("../assets/sena.jpg");
                background-size: cover;
                background-position-x: center;
                background-position-y: center;
                margin-left:50%;
        }
        p{
           @extend %shared-items;
        }

        h3{
           @extend %shared-items;
       }
    }
  
   }
   
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .row{
        padding: 5px;
    }
    [class*="col-"] {
      width: 100vw;
      margin: 0px;
      padding: 0px;
    }
    .prof-summary{
        padding:1.5rem;
        .row{
            .col{
                text-align: center;
                width: 100vw;

                b{
                    color : rgb(236, 234, 234);
                 }
                 p{
                     text-align: justify;
                 }
                 .contact-2{
                     display: block;
                 }
                 .contact-1{
                     display: none;
                 }
            }
        }
    }
  }