

.card{
    background-color: #309BE5;
    padding: 1.2rem;
    justify-content: center;
   a{
       color: #fff;
   }

   h4{
       text-align: center;
       color: #fff;
   }

   i{
       color: #fff;
       margin-left: 2rem;
       margin-right: 1rem;
   }

}